@model MtgLife.Website.Models.PlayerViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Playing Game...</title>

</head>
<body>
    <div class="row">
        Game: @Model.GameId
    </div>
    <div class="row">
        <input type="button" id="player1" value="@Model.PlayerName" />
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="button" id="minus" value="-" />
        </div>
        <div class="col-sm-6">
            <span id="total">@Model.LifeTotal</span>
        </div>
        <div class="col-sm-3">
            <input type="button" id="plus" value="+" />
        </div>
    </div>
    <input type="hidden" id="playerId" value="@Model.PlayerId">

    <script>
        $("#plus").click(function () {
            var total = parseInt($("#total").text());
            var newAmount = total + 1;
            $("#total").text(newAmount);
            ChangeTotal(newAmount);
        });
        $("#minus").click(function () {
            var total = parseInt($("#total").text());
            var newAmount = total - 1;
            if (newAmount > 0) {
                $("#total").text(newAmount);
                ChangeTotal(newAmount);
            }
        });

        function ChangeTotal(newAmount) {
            var playerId = $("#playerId").val();

            var dataToPost = {
                PlayerId: playerId,
                NewAmount: newAmount
            };

            $.ajax({
                type: "POST",
                data: JSON.stringify(dataToPost),
                url: "/Player/ChangeTotal",
                contentType: 'application/json; charset=utf-8'
            });
        }


    </script>

</body>
</html>